*{
    margin:0;
    padding:0;
    list-style:none;
    font-family: inherit;
    text-decoration: none;
}
.headerLeftLeft{
    width:100%;
    height:67px;
    
}
.headerLeftLeft{
    width:150px;
    height:67px;
    margin:auto;
}
.headerLeftLeft0{
    height:67px;
}
.headerLeftLeft img{
    width:150px;
    height:67px;
}
.headerLeftRight{
    width:0px;
    height:0px;
    overflow:hidden;
}
.headerRight{
    width:0px;
    height:0px;
    overflow:hidden;
}
.headerbottom{
    width:0px;
    height:0px;
    overflow:hidden;
}
.bodyerMidLeftTop{
    width:100%;
    height:50px;
    min-width:502px;
    /* background-color: yellow; */
}
/* @media screen and (min-width: 502px) {
   
} */
.bodyerMidLeftTop ul li{
    width:150px;
    height:35px;
    font-size:14px;
    float:left;
    margin-left:13px;
    padding-top:15px;
    /* background-color: red; */
}
.bodyerMidLeftMid{
    width:0px;
    height:0px;
    overflow:hidden;
}
.bodyerMidLeftBottom{
    width:0px;
    height:0px;
    overflow:hidden;
}
.bodyMidMidTop{
    width:100%;
    height:150px;
    position:relative;
    min-width:502px;
    /* background-color: skyblue; */
}
.bodyerMidRight{
    width:0px;
    height:0px;
    overflow:hidden;
}
.bodyerMidRightTop img{
    width:0px;
    height:0px;
}
.footer1Ul{
    width:0px;
    height:0px;
    overflow:hidden;
}
.headerLeftLeft1{
    width:0px;
    height:0px;
    overflow:hidden;
}
.bodyerMidLeft li:hover{
    background-color: rgb(248, 245, 245);
}
.bodyMidMidBottom{
    width:100%;
    height:850px;
}
.bodyMidMidBottomTop{
    width:100%;
    height:40px;
    font-size:16px;
    padding-top:10px;
    color:#333333;
    /* background-color: red; */
}
.bodyMidMidBottomTail{
    width:100%;
    height:800px;
    color:#333333;
    /* background-color: red; */
}
.bodyMidMidBottomTaila{
    width:100%;
    height:200px;
    /* background-color: rgb(136, 148, 92); */
}
.bodyMidMidBottomTailb{
    width:100%;
    height:200px;
    /* background-color: rgb(44, 92, 74); */
}
.bodyMidMidBottomTailc{
    width:100%;
    height:200px;
    /* background-color: rgb(50, 73, 83); */
}
.bodyMidMidBottomTaild{
    width:100%;
    height:200px;
    /* background-color: rgb(53, 45, 45); */
}
.bodyMidMidBottomTailaLeft{
    width:85%;
    height:100%;
}
.bodyMidMidBottomTailaLeft{
    color:#888888;
}
.footer1Tail{
    width:72%;
    height:120px;
    margin:auto;
    text-align:center;
    color:#888888;
    font-size:13px;
    /* background-color: #fff; */
}




.list{
    width:100%;
    height:150px;
    list-style: none;
    position:relative;
    padding-left:0px;
}
.item{
    width:100%;
    height:150px;
    position:absolute;
}
.item img{
    width:100%;
    height:150px;
}

.item.active{
    z-index: 10;
}
.pointList{
    padding-left:0px;
    list-style: none;
    position:absolute;
    bottom:20px;
    z-index: 100;
}
.point{
    width:10px;
    height:10px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 100%;
    float:left;
    margin-right: 4px;
    border-style: solid;
    border-width:2px;
    border-color:rgba(255,255,255,0.6);
    cursor: pointer;
}
.point.active{
    background-color: white;
}
.juzhong{
    width:100px;
    margin:auto;
}
